{# This file contains the resource overview block content. #}

<div class="ui container">
  <div class="ui divider hidden"></div>
  <div class="sixteen wide column random-records-frontpage">
    <div class="center aligned ui equal height stretched grid resource-container resource-columns-1">
      <div class="left aligned column">
        <div class="ui segment image">
          <h2>{{ _("Research Results") }}</h2>
          <p>{{ _("Research results is the collective term for all the results of a research project. They describe the data, source code and all digital objects on which publication results are based. These include the tools used to collect and process the research data. The following links offer the possibility to add research results to the repository, but also to search for the results of other people.") }}</p>
          <ul>
            <li><a href="records/search">{{ _("Search for research results") }}</a></li>
            <li><a href="me/uploads">{{ _("Upload research results") }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
