{%- if config.ACCOUNTS %}




{%- if not current_user.is_authenticated %}


{%- if config.SECURITY_REGISTERABLE %}
<a class="ui item no-decoration menus" href="{{ url_for('security.register') }}">
    {{_ ("Sign up")}}
</a>
{%- endif %}


<a class="ui item no-decoration menus" href="{{url_for_security('login', next=request.path)}}">
    {{_ ("Log in")}}
</a>


{%- else %}
{%- if config.USERPROFILES %}

<a class="ui item no-decoration menus" href="{{ url_for('invenio_userprofiles.profile') }}">
    <i class="user icon"></i> {{ current_user.email }}
</a>

<a class="ui item no-decoration menus" href="{{url_for_security('logout')}}">
    {{_('Sign out')}}
</a>


{%- endif %}
{%- endif %}
{%- endif %}